<a href="https://colab.research.google.com/github/kimmokyung/kimmokyung/blob/main/FirstCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world!")     # hello world!를 출력

hello world!

1. 나의 생애 첫 번째 코드

In [ ]:
print(5+5, 6-2, 4*5, 6/2)       # 5+5를 계산한 값 = 10, 6-2를 계산한 값 = 4, 4*5를 계산한 값 = 20 ,6/2를 계산한 값 = 3.0을 출력

10 4 20 3.0

5+5: 5 더하기 5를 계산하여 결과인 10을 출력합니다.
6-2: 6 빼기 2를 계산하여 결과인 4를 출력합니다.
4*5: 4 곱하기 5를 계산하여 결과인 20을 출력합니다.
6/2: 6 나누기 2를 계산하여 결과인 3을 출력합니다

2. 두번째 코딩